.mm-panel {
  background-color: var(--white);
}

.mm-listitem {
  letter-spacing: 0.01em;

  color: var(--grey);

  font-family: Gilroy;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  &__text {
    background-color: var(--white) !important;
  }
}

.mm-listitem:after {
  inset-inline-end: 32px;
}

.mm-listitem:nth-last-child(2):after {
  border: 0;
}

.mm-btn--next:after {
  transform: rotate(225deg);

  inset-inline-end: 40px;
}
.mm-listitem--opened > .mm-listitem__btn:after {
  right: 40px;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mm-listview {
  padding: 20px 0 0 10px;

  background-color: var(--white);
}

.mm-listitem--vertical > .mm-panel {
  padding: 0;
}

.burger {
  top: 70px;

  width: 100%;

  &__item {
    &:not(:first-child) {
      padding: 15px 0;
    }
    &_small {
      display: none;
    }
    &-location {
      display: flex;
      align-items: center;

      margin: 55px 0 0 20px;

      font-size: 14px;
      line-height: 21.7px;

      gap: 10px;

      & img {
        width: 20px;
        height: 20px;
      }
    }
    &-phone {
      display: none;
      align-items: center;

      font-size: 14px;
      line-height: 21.7px;

      gap: 10px;
      a {
        padding: 0;
      }
    }
  }

  &__item-text {
    padding: 0;

    letter-spacing: 0.01em;

    font-family: Gilroy;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.7px;
  }

  &__box {
    display: flex;
    flex-direction: column;

    padding: 15px 0 25px 20px;

    gap: 10px;

    .mm-listitem::after {
      border-bottom-style: none;
    }
  }
}
@media (max-width: 320px) {
  .mm-listitem--opened > .mm-listitem__btn:after {
    right: 12px;
  }
  .mm-listitem {
    font-size: 18px;
    line-height: 21.6px;
    &__text {
      padding: 7px 0 0 6px;
    }
    &:nth-last-child(-n + 2):after {
      border: 0;
    }
  }
  .mm-listitem:after {
    inset-inline-end: 5px;
    inset-inline-start: 5px;
  }
  .mm-btn--next:after {
    top: -24px;

    inset-inline-end: 12px;
  }
  .burger {
    top: 50px;
    &__box {
      padding: 0 0 0 6px;
    }
    &__list {
      padding: 10px;
    }
    &__item {
      &-location {
        margin: 20px 0 0 0;
      }
      &-phone {
        display: flex;

        margin: 20px 0 0 0;
      }
      &_small {
        display: block;
      }
      &:not(:first-child) {
        padding: 12px 0;
      }
      &-text {
        padding: 0;

        font-size: 14px;
        line-height: 21.7px;
      }
    }
  }
}
